@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  --font-league: var(--font-league-spartan);
  --font-redacted: var(--font-redacted);

  --color-main-bg: #121211;
  --color-main-text: #efdbbf;
  --color-brand-orange: #f25623;

  --color-dark-muted: #1e1e1d;
  --color-cream-muted: #d6c4ab;
}

::selection {
  background-color: var(--color-brand-orange);
}

::-moz-selection {
  background-color: var(--color-brand-orange);
}

.font-league {
  font-family: var(--font-league-spartan);
  font-feature-settings:
    "salt" on,
    "ss01" on;
  font-variant-ligatures: common-ligatures;
}

:root {
  --background: #121211;
  --foreground: #efdbbf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121211;
    --foreground: #efdbbf;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
